/*
 * @file
 * This file is the main scss file for the ecstatic theme. It is
 * used for ordering your partials. Dont add additional styles in
 * this file, but rather put them in the appropriate partial or create
 * a new one and add it here.
 *
 */
@import url(http://fonts.googleapis.com/css?family=Bitter:400);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input[type="submit"] {
  padding: 0.5em 1em;
  background: #477DCA;
  background: -webkit-linear-gradient( #598acf, #477DCA);
  background: linear-gradient( #598acf, #477DCA);
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1) inset;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  border-radius: 2px;
  border: 1px solid #3f78c8;
  color: #fff;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase; }
  button:hover, input[type="submit"]:hover {
    background: -webkit-linear-gradient( #477DCA, #3f70b5);
    background: linear-gradient( #477DCA, #3f70b5);
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1) inset; }

@font-face {
  font-family: 'icons';
  src: url('../fonts/icons/icons.eot?mf2yaz');
  src: url('../fonts/icons/icons.eot?#iefixmf2yaz') format('embedded-opentype'), url('../fonts/icons/icons.woff?mf2yaz') format('woff'), url('../fonts/icons/icons.ttf?mf2yaz') format('truetype'), url('../fonts/icons/icons.svg?mf2yaz#icons') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-phone:before {
  content: "\e600"; }

.icon-mobile:before {
  content: "\e601"; }

.icon-mouse:before {
  content: "\e602"; }

.icon-directions:before {
  content: "\e603"; }

.icon-mail:before {
  content: "\e604"; }

.icon-paperplane:before {
  content: "\e605"; }

.icon-pencil:before {
  content: "\e606"; }

.icon-feather:before {
  content: "\e607"; }

.icon-paperclip:before {
  content: "\e608"; }

.icon-drawer:before {
  content: "\e609"; }

.icon-reply:before {
  content: "\e60a"; }

.icon-reply-all:before {
  content: "\e60b"; }

.icon-forward:before {
  content: "\e60c"; }

.icon-user:before {
  content: "\e60d"; }

.icon-users:before {
  content: "\e60e"; }

.icon-user-add:before {
  content: "\e60f"; }

.icon-vcard:before {
  content: "\e610"; }

.icon-export:before {
  content: "\e611"; }

.icon-location:before {
  content: "\e612"; }

.icon-map:before {
  content: "\e613"; }

.icon-compass:before {
  content: "\e614"; }

.icon-location2:before {
  content: "\e615"; }

.icon-target:before {
  content: "\e616"; }

.icon-share:before {
  content: "\e617"; }

.icon-sharable:before {
  content: "\e618"; }

.icon-heart:before {
  content: "\e619"; }

.icon-heart2:before {
  content: "\e61a"; }

.icon-star:before {
  content: "\e61b"; }

.icon-star2:before {
  content: "\e61c"; }

.icon-thumbsup:before {
  content: "\e61d"; }

.icon-thumbsdown:before {
  content: "\e61e"; }

.icon-chat:before {
  content: "\e61f"; }

.icon-comment:before {
  content: "\e620"; }

.icon-quote:before {
  content: "\e621"; }

.icon-house:before {
  content: "\e622"; }

.icon-popup:before {
  content: "\e623"; }

.icon-search:before {
  content: "\e624"; }

.icon-flashlight:before {
  content: "\e625"; }

.icon-printer:before {
  content: "\e626"; }

.icon-bell:before {
  content: "\e627"; }

.icon-link:before {
  content: "\e628"; }

.icon-flag:before {
  content: "\e629"; }

.icon-cog:before {
  content: "\e62a"; }

.icon-tools:before {
  content: "\e62b"; }

.icon-trophy:before {
  content: "\e62c"; }

.icon-tag:before {
  content: "\e62d"; }

.icon-camera:before {
  content: "\e62e"; }

.icon-megaphone:before {
  content: "\e62f"; }

.icon-moon:before {
  content: "\e630"; }

.icon-palette:before {
  content: "\e631"; }

.icon-leaf:before {
  content: "\e632"; }

.icon-music:before {
  content: "\e633"; }

.icon-music2:before {
  content: "\e634"; }

.icon-new:before {
  content: "\e635"; }

.icon-graduation:before {
  content: "\e636"; }

.icon-book:before {
  content: "\e637"; }

.icon-newspaper:before {
  content: "\e638"; }

.icon-bag:before {
  content: "\e639"; }

.icon-airplane:before {
  content: "\e63a"; }

.icon-lifebuoy:before {
  content: "\e63b"; }

.icon-eye:before {
  content: "\e63c"; }

.icon-clock:before {
  content: "\e63d"; }

.icon-microphone:before {
  content: "\e63e"; }

.icon-calendar:before {
  content: "\e63f"; }

.icon-bolt:before {
  content: "\e640"; }

.icon-thunder:before {
  content: "\e641"; }

.icon-droplet:before {
  content: "\e642"; }

.icon-cd:before {
  content: "\e643"; }

.icon-briefcase:before {
  content: "\e644"; }

.icon-air:before {
  content: "\e645"; }

.icon-hourglass:before {
  content: "\e646"; }

.icon-gauge:before {
  content: "\e647"; }

.icon-language:before {
  content: "\e648"; }

.icon-network:before {
  content: "\e649"; }

.icon-key:before {
  content: "\e64a"; }

.icon-battery:before {
  content: "\e64b"; }

.icon-bucket:before {
  content: "\e64c"; }

.icon-magnet:before {
  content: "\e64d"; }

.icon-drive:before {
  content: "\e64e"; }

.icon-cup:before {
  content: "\e64f"; }

.icon-rocket:before {
  content: "\e650"; }

.icon-brush:before {
  content: "\e651"; }

.icon-suitcase:before {
  content: "\e652"; }

.icon-cone:before {
  content: "\e653"; }

.icon-earth:before {
  content: "\e654"; }

.icon-keyboard:before {
  content: "\e655"; }

.icon-browser:before {
  content: "\e656"; }

.icon-publish:before {
  content: "\e657"; }

.icon-progress-3:before {
  content: "\e658"; }

.icon-progress-2:before {
  content: "\e659"; }

.icon-brogress-1:before {
  content: "\e65a"; }

.icon-progress-0:before {
  content: "\e65b"; }

.icon-sun:before {
  content: "\e65c"; }

.icon-sun2:before {
  content: "\e65d"; }

.icon-adjust:before {
  content: "\e65e"; }

.icon-code:before {
  content: "\e65f"; }

.icon-screen:before {
  content: "\e660"; }

.icon-infinity:before {
  content: "\e661"; }

.icon-light-bulb:before {
  content: "\e662"; }

.icon-creditcard:before {
  content: "\e663"; }

.icon-database:before {
  content: "\e664"; }

.icon-voicemail:before {
  content: "\e665"; }

.icon-clipboard:before {
  content: "\e666"; }

.icon-cart:before {
  content: "\e667"; }

.icon-box:before {
  content: "\e668"; }

.icon-ticket:before {
  content: "\e669"; }

.icon-rss:before {
  content: "\e66a"; }

.icon-signal:before {
  content: "\e66b"; }

.icon-thermometer:before {
  content: "\e66c"; }

.icon-droplets:before {
  content: "\e66d"; }

.icon-uniE66E:before {
  content: "\e66e"; }

.icon-statistics:before {
  content: "\e66f"; }

.icon-pie:before {
  content: "\e670"; }

.icon-bars:before {
  content: "\e671"; }

.icon-graph:before {
  content: "\e672"; }

.icon-lock:before {
  content: "\e673"; }

.icon-lock-open:before {
  content: "\e674"; }

.icon-logout:before {
  content: "\e675"; }

.icon-login:before {
  content: "\e676"; }

.icon-checkmark:before {
  content: "\e677"; }

.icon-cross:before {
  content: "\e678"; }

.icon-minus:before {
  content: "\e679"; }

.icon-plus:before {
  content: "\e67a"; }

.icon-cross2:before {
  content: "\e67b"; }

.icon-minus2:before {
  content: "\e67c"; }

.icon-plus2:before {
  content: "\e67d"; }

.icon-cross3:before {
  content: "\e67e"; }

.icon-minus3:before {
  content: "\e67f"; }

.icon-plus3:before {
  content: "\e680"; }

.icon-erase:before {
  content: "\e681"; }

.icon-blocked:before {
  content: "\e682"; }

.icon-info:before {
  content: "\e683"; }

.icon-info2:before {
  content: "\e684"; }

.icon-question:before {
  content: "\e685"; }

.icon-help:before {
  content: "\e686"; }

.icon-warning:before {
  content: "\e687"; }

.icon-cycle:before {
  content: "\e688"; }

.icon-cw:before {
  content: "\e689"; }

.icon-ccw:before {
  content: "\e68a"; }

.icon-shuffle:before {
  content: "\e68b"; }

.icon-arrow:before {
  content: "\e68c"; }

.icon-arrow2:before {
  content: "\e68d"; }

.icon-retweet:before {
  content: "\e68e"; }

.icon-loop:before {
  content: "\e68f"; }

.icon-history:before {
  content: "\e690"; }

.icon-back:before {
  content: "\e691"; }

.icon-switch:before {
  content: "\e692"; }

.icon-list:before {
  content: "\e693"; }

.icon-add-to-list:before {
  content: "\e694"; }

.icon-layout:before {
  content: "\e695"; }

.icon-list2:before {
  content: "\e696"; }

.icon-text:before {
  content: "\e697"; }

.icon-text2:before {
  content: "\e698"; }

.icon-document:before {
  content: "\e699"; }

.icon-docs:before {
  content: "\e69a"; }

.icon-landscape:before {
  content: "\e69b"; }

.icon-pictures:before {
  content: "\e69c"; }

.icon-video:before {
  content: "\e69d"; }

.icon-music3:before {
  content: "\e69e"; }

.icon-folder:before {
  content: "\e69f"; }

.icon-archive:before {
  content: "\e6a0"; }

.icon-trash:before {
  content: "\e6a1"; }

.icon-upload:before {
  content: "\e6a2"; }

.icon-download:before {
  content: "\e6a3"; }

.icon-disk:before {
  content: "\e6a4"; }

.icon-install:before {
  content: "\e6a5"; }

.icon-cloud:before {
  content: "\e6a6"; }

.icon-upload2:before {
  content: "\e6a7"; }

.icon-bookmark:before {
  content: "\e6a8"; }

.icon-bookmarks:before {
  content: "\e6a9"; }

.icon-book2:before {
  content: "\e6aa"; }

.icon-play:before {
  content: "\e6ab"; }

.icon-pause:before {
  content: "\e6ac"; }

.icon-record:before {
  content: "\e6ad"; }

.icon-stop:before {
  content: "\e6ae"; }

.icon-next:before {
  content: "\e6af"; }

.icon-previous:before {
  content: "\e6b0"; }

.icon-first:before {
  content: "\e6b1"; }

.icon-last:before {
  content: "\e6b2"; }

.icon-resize-enlarge:before {
  content: "\e6b3"; }

.icon-resize-shrink:before {
  content: "\e6b4"; }

.icon-volume:before {
  content: "\e6b5"; }

.icon-sound:before {
  content: "\e6b6"; }

.icon-mute:before {
  content: "\e6b7"; }

.icon-flow-cascade:before {
  content: "\e6b8"; }

.icon-flow-branch:before {
  content: "\e6b9"; }

.icon-flow-tree:before {
  content: "\e6ba"; }

.icon-flow-line:before {
  content: "\e6bb"; }

.icon-flow-parallel:before {
  content: "\e6bc"; }

.icon-arrow-left:before {
  content: "\e6bd"; }

.icon-arrow-down:before {
  content: "\e6be"; }

.icon-arrow-up-upload:before {
  content: "\e6bf"; }

.icon-arrow-right:before {
  content: "\e6c0"; }

.icon-arrow-left2:before {
  content: "\e6c1"; }

.icon-arrow-down2:before {
  content: "\e6c2"; }

.icon-arrow-up:before {
  content: "\e6c3"; }

.icon-arrow-right2:before {
  content: "\e6c4"; }

.icon-arrow-left3:before {
  content: "\e6c5"; }

.icon-arrow-down3:before {
  content: "\e6c6"; }

.icon-arrow-up2:before {
  content: "\e6c7"; }

.icon-arrow-right3:before {
  content: "\e6c8"; }

.icon-arrow-left4:before {
  content: "\e6c9"; }

.icon-arrow-down4:before {
  content: "\e6ca"; }

.icon-arrow-up3:before {
  content: "\e6cb"; }

.icon-arrow-right4:before {
  content: "\e6cc"; }

.icon-arrow-left5:before {
  content: "\e6cd"; }

.icon-arrow-down5:before {
  content: "\e6ce"; }

.icon-arrow-up4:before {
  content: "\e6cf"; }

.icon-arrow-right5:before {
  content: "\e6d0"; }

.icon-arrow-left6:before {
  content: "\e6d1"; }

.icon-arrow-down6:before {
  content: "\e6d2"; }

.icon-arrow-up5:before {
  content: "\e6d3"; }

.icon-arrow-right6:before {
  content: "\e6d4"; }

.icon-arrow-left7:before {
  content: "\e6d5"; }

.icon-arrow-down7:before {
  content: "\e6d6"; }

.icon-arrow-up6:before {
  content: "\e6d7"; }

.icon-uniE6D8:before {
  content: "\e6d8"; }

.icon-arrow-left8:before {
  content: "\e6d9"; }

.icon-arrow-down8:before {
  content: "\e6da"; }

.icon-arrow-up7:before {
  content: "\e6db"; }

.icon-arrow-right7:before {
  content: "\e6dc"; }

.icon-menu:before {
  content: "\e6dd"; }

.icon-ellipsis:before {
  content: "\e6de"; }

.icon-dots:before {
  content: "\e6df"; }

.icon-dot:before {
  content: "\e6e0"; }

.icon-cc:before {
  content: "\e6e1"; }

.icon-cc-by:before {
  content: "\e6e2"; }

.icon-cc-nc:before {
  content: "\e6e3"; }

.icon-cc-nd:before {
  content: "\e6e4"; }

.icon-cc-pd:before {
  content: "\e6e5"; }

.icon-cc-zero:before {
  content: "\e6e6"; }

.icon-cc-share:before {
  content: "\e6e7"; }

.icon-cc-share2:before {
  content: "\e6e8"; }

.icon-danielbruce:before {
  content: "\e6e9"; }

.icon-github:before {
  content: "\e6ea"; }

.icon-github2:before {
  content: "\e6eb"; }

.icon-flickr:before {
  content: "\e6ec"; }

.icon-flickr2:before {
  content: "\e6ed"; }

.icon-vimeo:before {
  content: "\e6ee"; }

.icon-vimeo2:before {
  content: "\e6ef"; }

.icon-twitter:before {
  content: "\e6f0"; }

.icon-twitter2:before {
  content: "\e6f1"; }

.icon-facebook:before {
  content: "\e6f2"; }

.icon-facebook2:before {
  content: "\e6f3"; }

.icon-facebook3:before {
  content: "\e6f4"; }

.icon-googleplus:before {
  content: "\e6f5"; }

.icon-googleplus2:before {
  content: "\e6f6"; }

.icon-pinterest:before {
  content: "\e6f7"; }

.icon-pinterest2:before {
  content: "\e6f8"; }

.icon-tumblr:before {
  content: "\e6f9"; }

.icon-tumblr2:before {
  content: "\e6fa"; }

.icon-linkedin:before {
  content: "\e6fb"; }

.icon-linkedin2:before {
  content: "\e6fc"; }

.icon-dribbble:before {
  content: "\e6fd"; }

.icon-dribbble2:before {
  content: "\e6fe"; }

.icon-stumbleupon:before {
  content: "\e6ff"; }

.icon-stumbleupon2:before {
  content: "\e700"; }

.icon-lastfm:before {
  content: "\e701"; }

.icon-lastfm2:before {
  content: "\e702"; }

.icon-rdio:before {
  content: "\e703"; }

.icon-rdio2:before {
  content: "\e704"; }

.icon-spotify:before {
  content: "\e705"; }

.icon-spotify2:before {
  content: "\e706"; }

.icon-qq:before {
  content: "\e707"; }

.icon-instagram:before {
  content: "\e708"; }

.icon-dropbox:before {
  content: "\e709"; }

.icon-evernote:before {
  content: "\e70a"; }

.icon-skype:before {
  content: "\e70b"; }

.icon-skype2:before {
  content: "\e70c"; }

.icon-paypal:before {
  content: "\e70d"; }

.icon-picasa:before {
  content: "\e70e"; }

.icon-soundcloud:before {
  content: "\e70f"; }

.icon-mixi:before {
  content: "\e710"; }

.icon-behance:before {
  content: "\e711"; }

.icon-circles:before {
  content: "\e712"; }

.icon-vk:before {
  content: "\e713"; }

.icon-smashing:before {
  content: "\e714"; }

body {
  color: #333;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4em; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter', serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-weight: 400; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.7em; }

a {
  color: #477DCA;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.4em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #DDD;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.7em; }

hgroup {
  margin-bottom: 0.7em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.4em 0;
  padding-left: 0.7em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.7em 0;
  padding: 1.4em; }

input, label, select {
  display: block;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.35em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: 'Noto Sans', sans-serif;
  font-size: 1em;
  margin-bottom: 0.7em;
  padding: 0.46667em 0.46667em;
  width: 100%; }
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.35em; }

input[type="file"] {
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.4em; }

button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

table {
  border-collapse: collapse;
  margin: 0.7em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.7em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.7em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  line-height: 1.4em;
  margin-bottom: 0.7em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.7em; }
  dl dd {
    margin: 0; }




/*
 * This file holds all of the default wordpress styles
 *
 */
/*--------------------------------------------------------------
 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important; }

.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */ }

/*--------------------------------------------------------------
 Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

/*--------------------------------------------------------------
 Clearings
--------------------------------------------------------------*/
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
  content: '';
  display: table; }

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
 Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em; }

/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%; }

/* Search widget */
.widget_search .search-submit {
  display: none; }

/*--------------------------------------------------------------
 Posts and pages
--------------------------------------------------------------*/

.hentry {
  margin: 0 0 1.5em; }

.byline, .updated {
  display: none; }

.single .byline, .group-blog .byline {
  display: inline; }

.page-content, .entry-content, .entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title, .archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
 Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }


/*--------------------------------------------------------------
 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley, .entry-content img.wp-smiley, .comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers */
embed, iframe, object {
  max-width: 100%; }

/*--------------------------------------------------------------
 Captions
--------------------------------------------------------------*/
.wp-caption {
  border: 1px solid #ccc;
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%; }

.wp-caption-text {
  text-align: center; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

/*--------------------------------------------------------------
 Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }


/*
 * This file holds all of the menu styles
 *
 */
#site-navigation {
  z-index: 200;
  position: relative;
  width: 100%;
  color: #fff;
  background: #333; }
  #site-navigation .close-btn {
    display: none; }
  #site-navigation .menu-top-nav-container {
    z-index: 2;
    position: relative; }
  #site-navigation li {
    display: block; }
    #site-navigation li a {
      display: block;
      color: #ccc;
      font-size: 0.875em;
      line-height: 1.28571em;
      outline: none; }
      #site-navigation li a:focus, #site-navigation li a:hover {
        color: #fff;
        background: rgba(255, 255, 255, 0.1); }
    #site-navigation li.is-active a {
      color: #fff; }

.nav-btn {
  width: 100%;
  background: #333;
  display: block;
  padding: 0.5em 0.75em 0.9375em; }

.close-btn {
  position: absolute;
  top: 0.375em;
  left: 0.625em; }

.close-btn, .nav-btn {
  color: #fff; }
  .close-btn:hover, .nav-btn:hover {
    color: #d9d9d9; }
  .close-btn span, .nav-btn span {
    color: #fff;
    font-size: 26px;
    font-size: 1.625rem;
    position: relative;
    top: 6px;
    display: inline-block; }

@media only screen and (min-width: 861px) {
  .menu {
    *zoom: 1;
    max-width: 75em;
    margin-left: auto;
    margin-right: auto; }
    .menu:before, .menu:after {
      content: " ";
      display: table; }
    .menu:after {
      clear: both; }
  .nav-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  #site-navigation .close-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  .main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .main-navigation ul li {
      float: left;
      position: relative; }
    .main-navigation ul a {
      display: block;
      text-decoration: none;
      padding: 0.625em 0.875em; }
    .main-navigation ul ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      background: #333;
      display: none;
      float: left;
      left: 0;
      position: absolute;
      top: 2.1875em;
      z-index: 99999; }
      .main-navigation ul ul a {
        width: 200px; }
    .main-navigation ul ul ul {
      left: 100%;
      top: 0; }
  .main-navigation ul li:hover > ul {
    display: block; } }

@media only screen and (max-width: 860px) {
  #site-navigation {
    position: absolute;
    top: 0;
    padding-top: 3.125em; }
    #site-navigation:not(:target) {
      z-index: 1;
      height: 0; }
    #site-navigation:target .close-btn {
      display: block; }
    #site-navigation .menu-top-nav-container {
      position: relative;
      padding: 0; }
    #site-navigation li {
      position: relative;
      border-top: 1px solid rgba(255, 255, 255, 0.1); }
      #site-navigation li:last-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      #site-navigation li.current-menu-item:after {
        z-index: 50;
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        right: -0.03125em;
        margin-top: -0.625em;
        border-top: 0.625em transparent solid;
        border-bottom: 0.625em transparent solid;
        border-right: 0.625em white solid; }
      #site-navigation li a {
        padding: 1em 1.25em;
        font-weight: bold; }
      #site-navigation li ul a {
        padding: 1em 1.25em 1em 2em;
        font-weight: normal; }
  .js-ready #site-navigation {
    height: 100%;
    width: 70%;
    left: -70%;
    background: #333333;
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25); }
    .js-ready #site-navigation .menu-top-nav-container {
      background: transparent; }
    .js-ready #site-navigation .close-btn {
      display: block;
      opacity: 0.7; }
      .js-ready #site-navigation .close-btn:focus, .js-ready #site-navigation .close-btn:hover {
        opacity: 1; }
  .js-ready .inner-page {
    left: 0; }
  .js-nav #site-navigation {
    overflow: hidden; }
  .js-nav .inner-page {
    left: 70%; }
  .csstransforms3d.csstransitions.js-ready #site-navigation {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .csstransforms3d.csstransitions.js-ready #site-navigation .menu-top-nav-container {
      opacity: 0.7;
      -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
      -webkit-transition-delay: ease, 0s;
      -moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease;
      -o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease;
      transition: opacity 300ms 100ms ease, transform 500ms ease;
      -webkit-transform: translate3d(0, 0, 0) scale3d(0.9, 0.9, 0.9);
      -moz-transform: translate3d(0, 0, 0) scale3d(0.9, 0.9, 0.9);
      -ms-transform: translate3d(0, 0, 0) scale3d(0.9, 0.9, 0.9);
      -o-transform: translate3d(0, 0, 0) scale3d(0.9, 0.9, 0.9);
      transform: translate3d(0, 0, 0) scale3d(0.9, 0.9, 0.9);
      -webkit-transform-origin: 50% 0;
      -moz-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
      -o-transform-origin: 50% 0;
      transform-origin: 50% 0; }
  .csstransforms3d.csstransitions.js-ready .inner-page {
    left: 0 !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .csstransforms3d.csstransitions.js-ready.js-nav .inner-page {
    -webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(70%, 0, 0) scale3d(1, 1, 1); }
  .csstransforms3d.csstransitions.js-ready.js-nav #site-navigation .menu-top-nav-container {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

#page {
  position: relative;
  overflow: hidden;
  width: 100%; }

.inner-page {
  position: relative;
  width: 100%; }

#masthead {
  z-index: 100;
  position: relative; }

.block, .menu-top-nav-container {
  *zoom: 1;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.9375em; }
  .block:before, .block:after, .menu-top-nav-container:before, .menu-top-nav-container:after {
    content: " ";
    display: table; }
  .block:after, .menu-top-nav-container:after {
    clear: both; }

#site-navigation {
  *zoom: 1;
  display: block; }
  #site-navigation:before, #site-navigation:after {
    content: " ";
    display: table; }
  #site-navigation:after {
    clear: both; }

#content {
  *zoom: 1;
  display: block;
  margin-top: 25px; }
  #content:before, #content:after {
    content: " ";
    display: table; }
  #content:after {
    clear: both; }

#primary {
  float: left;
  display: block;
  margin-right: 2.04082%;
  width: 74.4898%; }
  #primary:last-child {
    margin-right: 0; }

#secondary {
  float: left;
  display: block;
  margin-right: 2.04082%;
  width: 23.46939%; }
  #secondary:last-child {
    margin-right: 0; }
